body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background: linear-gradient(
      to right,
      rgba(19, 90, 100, 0.7),
      rgba(255, 255, 255, 0)
    ),
    url("assets/city.jpg") no-repeat;
  background-size: cover;
  color: white;
}

/*---------------NAVBAR---------------*/

.navbar {
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background-image: linear-gradient(to right, #101f21d6, #222222c7);
}
.navbar-logo {
  display: flex;
  align-items: center;
}
.navbar-logo img {
  width: 40px;
  margin-right: 10px;
  rotate: -45deg;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: start;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}
.navbar a:hover {
  color: #ddd;
}

/*---------------MAIN---------------*/

main {
  display: flex;
  padding: 40px;
}

.hero-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  height: 100vh;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.social-media i {
  font-size: 24px;
  margin: 15px 0;
  color: white;
}

.social-media i:hover {
  color: #1da1f2;
}

.line {
  width: 2px;
  height: 200px;
  background-color: white;
  margin-bottom: 100px;
}

.hero-content {
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.hero-content > h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero-content > p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: 10px;
  height: min-content;
  position: relative;
}

form > input,
form > textarea {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 0;
  width: 40vw;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.639);
  border-radius: 5px;
  padding: 5px;
}

form > label {
  font-size: 13px;
}

form > button {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(22, 105, 116);
  color: white;
  font-size: 12px;
}
